body {
  background: rgb(139, 153, 154);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: rgb(100, 125, 138);
}

.container {
  margin: 120px auto;
  max-width: 600px;
  background-color: whitesmoke;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: rgb(106, 105, 122);
}

.form-container {
  background-color: aliceblue;
  padding: 30px;
  background-color: rgb(212, 211, 224);
  box-shadow: 0px 20px 60px rgba(65, 50, 100 0.08);
  border-radius: 10px;
  margin-bottom: 15px 20px;
}

form {
  display: flex;
}

.suggestions {
  line-height: 1.5;
  margin-top: 10px;
  opacity: 0.6;
  font-size: 12px;
}

.prompt {
  padding: 16px;
  border: 1px solid grey;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: rgb(106, 105, 122);
}

.submit-button {
  margin-left: 10px;
  background: rgb(224, 224, 226);
  color: black;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: rgb(216, 220, 205);
  padding: 20px;
  line-height: 2;
  font-weight: 24px;
  border-left: 3px solid rgb(106, 105, 122);
  box-shadow: 0px 20px 60px rgba(65, 50, 100 0.08);
}

.hidden {
  display: none;
}

.poem strong {
  color: red;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.poem-images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.poem-images img {
  max-width: 50px;
  height: auto;
  margin: 0 10px;
}
